
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=JetBrains+Mono&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=VT323&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'VT323', monospace;
    user-select: none;
}
body
{
    background-color: white;
}
p
{
    font-size: 3rem;
    font-weight: bold;
    font-family: 'Great Vibes', cursive;
}
#id
{
    margin-top: 20px;
    font-weight: normal;
    font-family: 'VT323', monospace;
    font-size: 1rem;
}
main
{
    width: 100vw;
    height: 90vh;
    display: flex;
    align-items: center; 
    justify-content: center;
    flex-direction: column;
}
.frame
{
    border: none;
    width: 800px;
    height: 600px;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculator
{
    background:linear-gradient( #74728f,#4d4a79);
    padding: 20px 10px;
    width: 300px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0px 30px 0px #323050,
    20px 30px 0px #b9b9b9;
    border: 3px solid #323050;
}
.screen
{
    outline: none;
    border: none;
    box-shadow: 0px -10px 0 #323050 ;
    width: 100%;
    height: 70px;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 4rem;
    text-align: end;
    padding: 9px 5px 0 0;
    background-color: #b0f8b6;
    color: #136d61;
    border: 3px solid #323050;
    caret-color: transparent;
}
::placeholder
{
    color: #136d61;
}
.screenoff
{
    background-color: #969696;
}
.row
{
    display: flex;
    margin: 6px;
}
button
{
    outline: none;
    font-weight: bold;
    font-size: 2em;
    border: none;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    margin: 7px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #0000;
    transform: translateY(0);
    transition: transform 0.1s;
    -webkit-tap-highlight-color: transparent;
}
button:active {
    transform: translateY(5px);
}
.on
{
    color: #029e00;
    background: linear-gradient(#8eff8e,#15ff00);
    box-shadow: 0 10px 0 #029e00;
    box-shadow: 0px -2px 10px #15ff00,
    0 10px 0 #029e00,  
    0 13px 0 #323050;   
}
.on:hover
{
    color: #026300;
    box-shadow: 0 10px 0 #026300,  
    0 13px 0 #323050; 
}
.on:active {
    transform: translateY(5px);
    box-shadow: 0 7px 0 #026300,
    0 10px 0 #323050;   
}
.off
{
    color: #580000;
    background: linear-gradient(#ff4848,#ff0000);
    box-shadow:0 10px 0 #580000,  
    0 13px 0 #323050;   
}
.off:hover
{
    color: #580000;
    box-shadow: 0 10px 0 #580000,  
    0 13px 0 #323050; 
}
.off:active {
    transform: translateY(5px);
    box-shadow: 0 7px 0 #580000,
    0 10px 0 #323050;   
}
.number
{
    color: #0066ff;
    background: linear-gradient(#00f7ff,#00a2ff);
    box-shadow: 0px -2px 4px #00e1ff,
    0 10px 0 #0066ff,  
    0 13px 0 #323050;  
}
.number:hover
{
    color: #0400ff;
    box-shadow: 0 10px 0 #0400ff,  
    0 13px 0 #323050; 
}
.number:active 
{
    transform: translateY(5px);
    box-shadow: 0 7px 0 #0400ff,
    0 10px 0 #323050;   
}
.numoff
{
    color: #0400ff;
    box-shadow: 0 10px 0 #0400ff,  
    0 13px 0 #323050; 
}
.symbol
{
    color: #ff5200;
    background: linear-gradient(#ffd900,#ff9100);
    box-shadow: 0px -2px 4px #ffae00,
    0 10px 0 #ff5200,  
    0 13px 0 #323050;   
}
.symbol:hover
{
    color: #ff0000;
    box-shadow: 0 10px 0 #ff0000,  
    0 13px 0 #323050; 
}
.symbol:active {
    transform: translateY(5px);
    box-shadow: 0 7px 0 #ff0000,
    0 10px 0 #323050;   
}
.symoff {
    color: #ff0000;
    box-shadow: 0 10px 0 #ff0000,  
    0 13px 0 #323050; 
}
.equals
{
    color: #890000;
    background: linear-gradient(#ff4848,#ff0000);
    box-shadow: 0px -2px 4px #ff4848,
    0 10px 0 #890000,  
    0 13px 0 #323050;   
    border-radius: 15px;
    width: 115px;    
}
.equals:hover
{
    color: #580000;
    box-shadow: 0 10px 0 #580000,  
    0 13px 0 #323050; 
}
.equals:active{
    transform: translateY(5px);
    box-shadow: 0 7px 0 #580000,
    0 10px 0 #323050;   
}
.equaloff
{
    color: #580000;
    box-shadow: 0 10px 0 #580000,  
    0 13px 0 #323050;  
}

@media (max-width: 400px) {
    main
    {
        height: 100vh;
    }
    .frame
    {
        width: 350px;
        height: 550px;
        border: none;
    }
    #id
    {
        margin-top: 50px;
    }
}