@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100&family=Roboto+Condensed:ital@1&family=Smooch&family=VT323&display=swap');
.start
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'VT323', monospace;
  overflow: hidden;
  background: #1d042e;
}
.start input
{
  display: none;
}
#butao:checked ~ #main
{
  display: block;
  bottom: 0;
}
.big-button
{
  cursor: pointer;
  outline: none;
  border: 0;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  font-family: inherit;
  padding: 1em 2em;
  border-radius: 1em;
  transform-style: preserve-3d;
  transition: all 175ms cubic-bezier(0, 0, 1, 1);
  background:linear-gradient(orange,#f28305);
  box-shadow: 0 0 0 2px #F28705, 0 0.2em 0 0 #F28705;
  box-shadow: 0 0 0.5rem #F28705;
}
.big-button::before
{
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
  transform: translate3d(0, 0.75em, -1em);
  transition: all 175ms cubic-bezier(0, 0, 1, 1);
  background:#f25005;
}
.big-button:hover 
{
  transform: translate(0, 0.375em);
}
.big-button:hover::before
{
  transform: translate3d(0, 0.75em, -1em);
}
.big-button:active 
{
  transform: translate(0em, 0.75em);
}
.big-button:active::before 
{
  transform: translate3d(0, 0, -1em);
  box-shadow: 0 0 0 2px #f25c05, 0 0.25em 0 0 #f25c05;
}
