@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=VT323&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'VT323', monospace;
    list-style: none;
}
body
{
    overflow: hidden;
}
#main
{
    width: 100vw;
    height: 100vh;
    transition: bottom 2s;
    background:url(assets/62fa98b099d6ddc.png) repeat-x 0 / 100% auto;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: bg 30s linear infinite ;
}
@keyframes bg
{
    0%{background-position: 0 0;}
    100%{background-position: 100vw 0;}
}
header
{
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    background: none;
    border-bottom: 5px solid white;
    animation: animate 0.5s;
}
header p
{
    color: #33ff00;
    text-shadow: 0px 0.25rem 0px #008500,
    0px -0.1rem 0.3rem #33ff00;
    font-size: 3rem;
    cursor: pointer;
}
header p:hover
{
    color: #fff200;
    text-shadow: 0px 0.25rem 0px #fc6703,
    0px -0.1rem 0.3rem #fceb03;;
    transform: translate(0, 3px);
}
a
{
    text-decoration: none;
}
@keyframes animate
{
    from{left: -100%;}
}