#options
{
    position: absolute;
    top: 10%;
    right: -100%;
    width: 25%;
    height: 80%;
    transition: right 0.5s;
    border: 5px solid white;
    background-image: url(/assets/62fa98b099d6ddc.png);
    background-size: cover;
    animation: bg 60s linear infinite ;
    background-position-y: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 50px;
  }
#options p
{
    color: #03fcd7;
    text-shadow: 0px 0.3rem 0px #fc03a9,
    0px -0.1rem 0.2rem #03fcd7;
    font-size: 4rem;
}
#close p
{
    color: #ff1414;
    text-shadow: 0px 0.15rem 0px #7c0000,
    0px -0.1rem 0.2rem #ff1414;
    font-size: 1.5rem;
}
.slider 
{
  -webkit-appearance: none;
  display: block;
  width: 80%;
  height: 15px;
  background: none;
  outline: none;
  box-shadow: 0px 0.3rem 0px #fc6703,
  0px -0.1rem 0.3rem #fceb03;
  border: 5px solid #fceb03;
}
.slider::-webkit-slider-thumb
{
  -webkit-appearance: none;
  appearance: none;
  width: 10%;
  height: 5vh;
  cursor: pointer;
  box-shadow: 0px 0.3rem 0px #fc6703,
  0px -0.1rem 0.3rem #fceb03;
  border: 5px solid #fceb03;
  background: #fceb03;
}



